$blue:#3C56FF;
$lightblue:#367DE8;
$lightestblue:#49C1FF;
$clay:#FF604C;

//ALL PAGES//

body{
  margin:0;
  padding:0;
  width:100%;
  font-family:sans-serif;
  background-color:$clay;
}

header {
  background-color:$blue;
  color:white;
  border-bottom:1px solid white;

  h1, nav {
    display:inline-block;
  }

  h1 {
    letter-spacing:3px;
  }

  .fi-social-amazon {
    vertical-align:-9px;
    font-size:1.2em;
  }

  nav {
    width:50%;

    p {
      display:inline-block;
      margin:0 1%;

      a {
        color:white;
        text-decoration:none;
      }

      a:hover {
        color:$clay;
      }
    }
  }
}

footer {
  height:90px;
  margin-top:1%;
  background-color:$blue;
  border-top:1px solid white;

  a {
    padding:2.8% 2%;
    color:white;
    text-decoration:none;
    float:left;
  }

  a:hover {
    text-decoration:underline;
  }
}

//USERHOME.HTML//

.inventoryContainer {
  margin:0%;
  text-align:center;
  background-color:$clay;

  .product {
    margin:1%;
    padding:1%;
    width:45%;
    height:375px;
    display:inline-block;
    vertical-align:top;
    border:1px solid black;
    background-color:white;

    .learnMore {
      text-decoration:none;
      color:$lightblue;
    }

    .learnMore:hover {
      text-decoration:underline;
    }
  }

  .productInfo {
    display:inline-block;
    width:45%;
    vertical-align:top;

    .addToCart {

      p, select, button {
        display:inline-block;
      }

      p {
        vertical-align:-2px;
      }
    }
  }

  .productName{

    a {
      text-decoration:none;
      color:$lightblue;
    }

    a:hover {
      text-decoration:underline;
    }
  }

  .productImage {
    width:35%;
    height:200px;
    display:inline-block;
    text-align:center;
  }

  .productDescription {
    margin-bottom:5%;

    a {
      color:$lightblue;
    }
  }

  .productEdit, .productDelete {
    margin:0 5px;
    color:$lightblue;
  }
}

//EXPANDEDPRODUCT.HTML//

.singleProductContainer {
  padding:2% 15%;
  text-align:center;

  .singleProduct {
    padding:1%;
    background-color:white;

    .singleProductImage {
      width:25%;
    }

    .singleProductName {
      color:$lightblue;
    }
  }

  .commentContainer {
    text-align:left;
  }

  .commentInfo {

    h3, input {
      display:inline-block;
    }
  }
}

//SHOPPINGCART.HTML//

.shoppingCartProduct {
  padding:1%;
  width:100%;
  border-bottom:1px solid black;

  .shoppingCartImage {
    display:inline-block;
    width:15%;
  }

  .shoppingCartInfo {
    display:inline-block;
    width:78%;

    .shoppingCartQuantity, .quantity {
      display:inline-block;
      margin:0;
      margin-bottom:1%;
    }
  }

  .subtotal {
    margin-top:0;
  }

  button {
    margin:0.5%;
  }
}

.checkoutTotal {
  background-color:white;
  margin:0;
}

//EDITPRODUCT.HTML//

.editProductContainer {
  margin:1.5% 0;
  padding:2% 25%;
  text-align:center;

  h2 {
    margin:0;
    padding:1% 0;
  }

  form {
    padding:1%;
    background-color:white;
    color:$lightblue;
  }

  .nameSection, .priceSection {
    display:inline-block;
    margin:0 2%;

    .editProductName, .editProductPrice {
      width:100%;
    }
  }

  .editProductImage {
    width:50%;
  }
}

//ADMINHOME.HTML//

.adminProductListing {
  padding:1%;
}

.productSummary {
  margin:1% 0;
  padding:1%;
  background-color:white;

  a {
    display:block;
    width:10%;
    text-decoration:none;
    padding:0 4%;
    padding-top: 1%;
    color:$lightblue;
  }

  a:hover {
    text-decoration:underline;
  }

  .deleteProduct {
    padding:0 3.25%;
    padding-top:1%;
  }

  .adminProductImage {
    margin:0;
    padding:0;
    width:15%;
    display:inline-block;
  }

  .adminProductInfo {
    display:inline-block;
    width:80%;
    vertical-align:top;

    .adminProductName {
      margin-top:1%;
      color:$lightblue;
    }

    .adminProductDescription {
      margin-bottom:0;
    }
  }
}

//NEWPRODUCT.HTML//

.newProductContainer {
  padding:2% 25%;
  text-align:center;

  .newProductForm {
    padding:1%;
    background-color:white;

    .newProductName, .newProductPrice {
      display:inline-block;
      margin:0 1%;
    }
  }
}
