$blue:#3C56FF;
$lightblue:#367DE8;
$lightestblue:#49C1FF;
$clay:#FF604C;

body{
  margin:0;
  padding:0;
  width:100%;
  font-family:sans-serif;
  background-color:$clay;
}

header {
  background-color:$blue;
  color:white;

  h1, nav {
    display:inline-block;
  }

  h1 {
    letter-spacing:3px;
  }

  .fi-social-amazon {
    vertical-align:-9px;
    font-size:1.2em;
  }

  nav {
    width:50%;

    p {
      display:inline-block;
      margin:0 1%;

      a {
        color:white;
        text-decoration:none;
      }

      a:hover {
        color:$clay;
      }
    }
  }
}

footer {
  height:90px;
  margin-top:1%;
  background-color:$blue;

  a {
    padding:2.8% 2%;
    color:white;
    text-decoration:none;
    float:left;
  }

  a:hover {
    text-decoration:underline;
  }
}

.inventoryContainer {
  margin:0%;
  text-align:center;
  background-color:$clay;

  .product {
    margin:1%;
    padding:1%;
    width:45%;
    height:375px;
    display:inline-block;
    vertical-align:top;
    border:1px solid black;
    background-color:white;
  }

  .productInfo {
    display:inline-block;
    width:45%;
    vertical-align:top;

    .addToCart {

      p, select, button {
        display:inline-block;
      }

      p {
        vertical-align:-2px;
      }
    }
  }

  .productName{

    a {
      text-decoration:none;
      color:$lightblue;
    }

    a:hover {
      text-decoration:underline;
    }
  }

  .productImage {
    width:45%;
    height:200px;
    display:inline-block;
    text-align:center;
  }

  .productDescription {
    margin-bottom:5%;

    a {
      color:$lightblue;
    }
  }

  .productEdit, .productDelete {
    margin:0 5px;
    color:$lightblue;
  }
}

.editProductContainer {
  padding:2%;
  background-color:$clay;
  text-align:center;

  h2 {
    margin:0;
    padding:1% 0;
  }

  form {
    background-color:white;
    width:65%;

    button {
      display:block;
      text-align:center;
      margin:2% 47%;
    }
  }

  .nameSection, .priceSection {
    display:inline-block;
    margin:0 2%;

    .editProductName, .editProductPrice {
      width:100%;
    }
  }

  .editProductImage {
    width:50%;
  }
}

.adminProductListing {
  padding:1%;
}

.productSummary {
  margin:1% 0;
  padding:1%;
  background-color:white;

  a {
    display:block;
    width:10%;
    text-decoration:none;
    padding:0 4%;
    padding-top: 1%;
    color:black;
  }

  a:hover {
    text-decoration:underline;
    color:$blue;
  }

  .deleteProduct {
    padding:0 3.25%;
    padding-top:1%;
  }

  .adminProductImage {
    margin:0;
    padding:0;
    width:15%;
    display:inline-block;
  }

  .adminProductInfo {
    display:inline-block;
    width:80%;
    vertical-align:top;

    .adminProductName {
      margin-top:1%;
    }

    .adminProductDescription {
      margin-bottom:0;
    }
  }
}

.shoppingCartProduct {
  border-bottom:1px solid black;
}
