<!-- controller:"adminCtrl" -->

<header>
  <h1>b<span class="fi-social-amazon"></span>byAmazon admin</h1>
  <nav>
    <p><a href="/#/admin"><span class="fi-home"></span> Admin Home</a></p>
    <p><a href="/#/admin/newProduct"><span class="fi-plus"></span> New Product</a></p>

  </nav>
</header>

<section class="adminProductListing">
  <div class="productSummary" ng-repeat="product in inventory">
    <img class="adminProductImage" ng-src="{{product.productImage}}" alt="">
    <div class="adminProductInfo">
      <h3 class="adminProductName">{{product.productName}}</h3>
      <h4 class="adminProductPrice">{{product.productPrice | currency}}</h4>
      <p class="adminProductDescription">{{product.productDescription}}</p>
    </div>
    <a href="/#/admin/editProduct/{{product._id}}">Edit Product</a>
    <a class="deleteProduct" href="" ng-click="deleteProduct(product._id)">Delete Product</a>
  </div>
</section>

<footer>
  <a href="#">Go to Home Page</a>
</footer>
