<div class="newProductContainer">
  <form class="newProductForm" ng-submit="addProduct(newProduct)">
    <h2>Product Name:</h2>
    <input type="text" ng-model="newProduct.name">
    <h2>Product Price:</h2>
    <input type="number" ng-model="newProduct.amount">
    <h2>Product Image URL:</h2>
    <input type="text" ng-model="newProduct.image">
    <h2>Product Description:</h2>
    <textarea name="newProductDescription" id="" cols="30" rows="10" ng-model="newProduct.description"></textarea>
    <button type="submit">Add New Product</button>
  </form>
</div>
