<div class="inventoryContainer">

  <div class="product" ng-repeat="product in inventory">
    <img class="productImage" ng-src="{{product.productImage}}" alt="">
    <div class="productInfo">
      <h2 class="productName"><a href="#/expandedProduct/{{$index}}">{{product.productName}}</a></h2>
      <h3 class="productPrice">{{product.productPrice | currency}}</h3>
    </div>
    <p class="productDescription">{{product.productDescription.substring(0, 200)}}...<a href="#/expandedProduct/{{$index}}">Learn More</a></p>
    <a class="productEdit" href="#/editProduct/{{$index}}">Edit Product</a>
    <a class="productDelete" href="" ng-click="deleteProduct($index)">Delete Product</a>
  </div>

</div>
