<!-- controller:"homeCtrl" -->

<header>
  <h1>b<span class="fi-social-amazon"></span>byAmazon admin</h1>
  <nav>
    <p><a href="/#"><span class="fi-home"></span> Admin Home</a></p>
    <p><a href="/#/admin/newProduct"><span class="fi-plus"></span> New Product</a></p>

  </nav>
</header>

<div class="singleProductContainer">
  <div class="singleProduct">
    <img class="singleProductImage" ng-src="{{product.productImage}}" alt="">
    <h2 class="singleProductName">{{product.productName}}</h2>
    <h3 class="singleProductPrice">{{product.productPrice | currency}}</h3>
    <p class="singleProductDescription">{{product.productDescription}}</p>
    <a href="/#">Back to home page</a>
  </div>
</div>
