<!-- controller:"homeCtrl" -->

<header>
  <h1>b<span class="fi-social-amazon"></span>byAmazon</h1>
  <nav>
    <p><a href="/#"><span class="fi-home"></span> Home</a></p>
    <p><a href="/#/shoppingCart"><span class="fi-shopping-cart"></span> Shopping Cart</a></p>

  </nav>
</header>

<div class="shoppingCartContainer">

  <div class="shoppingCartProduct" ng-repeat="product in shoppingCart">
    <shopping-cart name="{{product.name}}" price="{{product.price}}" quantity="{{product.quantity}}" id="{{product._id}}" image="{{product.image}}">

    </shopping-cart>
  </div>

  <h1 class="checkoutTotal">Total: {{checkoutTotal | currency}}</h1>

</div>
