<!-- templateUrl:"views/user/shoppingCart.html" | controller:"homeCtrl" -->

<header>
  <h1>b<span class="fi-social-amazon"></span>byAmazon</h1>
  <nav>
    <p><a href="/#"><span class="fi-home"></span> Home</a></p>
    <p><a href="/#/shoppingCart"><span class="fi-shopping-cart"></span> Shopping Cart</a></p>

  </nav>
</header>

<div class="shoppingCartContainer">

  <div ng-repeat="product in userShoppingCart">
    <img ng-src="{{product.productImage}}">
    <h3>{{product.productName}} | Price: <em>{{product.productPrice | currency}}</em> | Quantity: {{product.productQuantity}}</h3>
    <h4>Subtotal: {{product.productTotal | currency}}</h4>
  </div>

  <h1>Total: <span ng-init="checkoutTotal()">{{checkoutTotal() | currency}}</span></h1>

</div>
