<!-- controller:"homeCtrl" -->

<header>
  <h1>b<span class="fi-social-amazon"></span>byAmazon</h1>
  <nav>
    <p><a href="/#"><span class="fi-home"></span> Home</a></p>
    <p><a href="/#/shoppingCart"><span class="fi-shopping-cart"></span> Shopping Cart</a></p>

  </nav>
</header>

<div class="inventoryContainer">

  <div class="product" ng-repeat="product in inventory | filter:product.productPrice">
    <img class="productImage" ng-src="{{product.productImage}}" alt="" ng-model="product.productImage">
    <div class="productInfo">
      <h2 class="productName"><a href="#/expandedProduct/{{product._id}}" ng-model="product.productName">{{product.productName}}</a></h2>
      <h3 class="productPrice" ng-model="product.productPrice">{{product.productPrice | currency}}</h3>
      <div class="addToCart">
        <p>Quantity: </p><select class="quantity" ng-model="product.productQuantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <button ng-click="addToShoppingCart(product)">Add to Shopping Cart</button>
      </div>
    </div>
    <p class="productDescription" ng-model="product.productDescription">{{product.productDescription.substring(0, 200)}}...</p>
    <a class="learnMore" href="#/expandedProduct/{{product._id}}">Learn More</a>
  </div>

  <footer>
    <a href="/#/admin">Go to Admin Page</a>
  </footer>

</div>
