<!-- directive: productProfile.js -->

<img class="productImage" ng-src="{{image}}" alt="" ng-model="product.image">
<div class="productInfo">
  <h2 class="productName"><a href="#/expandedProduct/{{id}}" ng-model="product.name">{{name}}</a></h2>
  <h3 class="productPrice" ng-model="product.price">{{price | currency}}</h3>
  <div class="addToCartContainer">
    <p>Quantity: </p>
    <select class="quantity" value="product.quantity">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button class="addToCart" data="{{id}}">Add to Shopping Cart</button>
  </div>
</div>
<p class="productDescription" ng-model="product.description">{{description.substring(0, 200)}}...</p>
<a class="learnMore" href="#/expandedProduct/{{id}}">Learn More</a>
